{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm p-5">
    <form action="/events" method="POST">
        <fieldset>
            <legend>Create New event</legend>
            <div class="py-2">
                <label class="form-label">Title: </label>
                <input 
                    type="text" 
                    name="title" 
                    placeholder="Event title"
                    class="form-control"
                >
            </div>
            <div class="py-2">
                <label class="form-label">Description:</label>
                <input 
                    type="text" 
                    name="description" 
                    placeholder="Description" 
                    class="form-control"
                >
            </div>
            <div class="py-2">
                <label class="form-label">Date:</label>
                <input 
                    id="datePicker"
                    type="date" 
                    name="date" 
                    placeholder="" 
                    class="form-control"
                >
            </div>
            {% if categories.length > 0 %}
                <label id="category">Categories</label>
                <select id="category">
                    <option value="">--Please choose an option--</option>
                    {% for category in categories %}
                        <option name="category" value="{{ category.title }}">{{ category.title | capitalize }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <br>
            {% if projects.length > 0 %}
                <label id="projects">Projects</label>
                <select id="projects">
                    <option value="">--Please choose an option--</option>
                    {% for project in projects %}
                        <option name="category" value="{{ project.title  }}">{{ project.title | capitalize }}</option>
                    {% endfor %}
                </select>
            {% else %}
                    <p>No projects</p>
            {% endif %}
            <br>
        </fieldset>
        <input type="submit" value="Create New Event" class="btn btn-success">
    </form>
</div>
{% endblock %}