{% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid p-5">
    {% render '../logo.liquid' %}
    <form action="/events" method="POST">
        <fieldset>
            <legend>Create New event</legend>
            <div class="py-2">
                <label class="form-label">Title: </label>
                <input 
                    type="text" 
                    name="title" 
                    placeholder="Event title"
                    class="form-control"
                >
            </div>
            <div class="py-2">
                <label class="form-label">Description:</label>
                <input 
                    type="text" 
                    name="description" 
                    placeholder="Description" 
                    class="form-control"
                >
            </div>
            <div class="py-2">
                <label class="form-label">Date:</label>
                <input required
                    id="datePicker"
                    type="date" 
                    name="date" 
                    placeholder="" 
                    class="form-control"
                >
            </div>
            <div class="py-2">
                {% if categories.length > 0 %}
                <label id="category">Categories</label>
                <select name="category" class="form-select" id="category">
                    <option value="">--Please choose an option--</option>
                    {% for category in categories %}
                        <option name="category" value="{{ category.id }}">{{ category.title | capitalize }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            </div>
            <div class="py-2">
                {% if projects.length > 0 %}
                    <label id="projects">Projects</label>
                    <select name="project" class="form-select" id="projects">
                        <option value="">--Please choose an option--</option>
                        {% for project in projects %}
                            <option name="project" value="{{ project.id }}">{{ project.title | capitalize }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                        <p>No projects</p>
                {% endif %}
            </div>
        </fieldset>
        <input type="submit" value="Create New Event" class="btn btn-success">
    </form>
</div>
{% endblock %}