{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm p-5">
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend>Sign Up Here</legend>
            <div class="py-2">
                <label class="form-label">Username: </label>
                <input type="text" name="username" placeholder="username" class="form-control" required>
            </div>
            <div class="py-2">
                <label class="form-label">Password</label>
                <input type="password" name="password" placeholder="enter password" class="form-control" required>
            </div>
        </fieldset>
        <input type="submit" value="Create Account" class="btn btn-success mt-3">
    </form>
</div>

{% endblock %}