{% layout "layout.liquid" %}
{% block content %}

    <div class="container p-5">
        <h1>Welcome!</h1>
        <br>

        <h2>Projects</h2>
        <a href="/projects" class="px-2">View All Projects</a>
        <a href="/projects/new" class="px-2">New Project</a>
        <a href="/projects/mine" class="px-2">My Projects</a>

    </div>
    
{% endblock %}