{% layout "layout.liquid" %}
{% block content %}

    <div class="container front p-5">
        <div class="front__container">
            <div class="front__title-container">
                <h1>Ritual</h1>
                <b>Make Art Every Day.</b>
                <br>
                <br>
                <p>Following Julia Cameron's <i><a href="https://www.worldcat.org/title/artists-way-a-spiritual-path-to-higher-creativity/oclc/611985564">The Artist's Way</a></i>, Ritual accompanies your spiritual journey to higher creativity. That begins with cultivating a continuous practice.</p>
            </div>
            <br>
            <div class="front__signup-signin">
                <button type="button" class="btn btn-light">Create Account</button>
                <button type="button" class="btn btn-dark">Sign In</button>
            </div>
        </div>
        
    </div>
    
{% endblock %}