{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-fluid front">
    {% render '../logo.liquid' %}
    <div class="card___container">
        {% render './logo.liquid' %}
      <form action="/projects" method="POST">
        <fieldset>
          <legend>Create New Project</legend>
          <div class="py-2">
            <label class="form-label">Title:
            </label>
            <input
              type="text"
              name="title"
              placeholder="Project title"
              class="form-control">
          </div>
          <div class="py-2">
            <label class="form-label">Due Date:</label>
            <input
              type="Date"
              name="due"
              placeholder=""
              class="form-control">
          </div>
          <div class="py-2">
            <label class="form-label">Description:</label>
            <input
              type="text"
              name="description"
              placeholder=""
              class="form-control">
          </div>
        </fieldset>
        <input
          type="submit"
          value="Create New Project"
          class="btn btn-dark my-2 p-3">
      </form>
    </div>
  </div>
{% endblock %}