
@use 'breakpoints';

@mixin card {
    background-color: rgb(174, 223, 230);
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    border-radius: 25px;
}

.card__container input {
    border: none !important;
}

// overwrite bootstrap defaults
.card {
    @include card;
    border: 0px;

    &-header {
        background-color: transparent;
        border: 0px;
    }
    // &-body .btn {
    //     position: absolute;
    //     bottom: 2rem;
    // }
    // min-height: 20rem;
}

.modal__card {
    display: none;
    opacity: 0;
    z-index: 100;

    &.show {
        display: block;
        opacity: 1;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
    &.hide {
        display: none;
        opacity: 0;
        -webkit-animation: fadeOut 1s;
        animation: fadeOut 1s;
    }
    @media screen and (max-width: 500px) {
        // height: 100vh;
    }
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}