.events {
    padding:2rem;
    .card {
        background-color: rgb(255 237 229);

        .btn {
            background-color: rgb(249 137 87);
            border-color: rgb(249 137 87);
        }
    }
}