.events {
    padding:2rem;
    .card {
        background-color: rgb(255 237 229);
        width:98%;

        @media (min-width:460px) {
            width:45%;   
        }


        .btn {
            background-color: rgb(249 137 87);
            border-color: rgb(249 137 87);
        }
    }
}