@use 'breakpoints';
@use 'cards';

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}
.card__signup-signin{
    display: flex;
    flex-direction: column;
    width: 100%;
    .btn {
        margin: .5rem 0;
        width: 100%;
    }
}
.card__container{
    @include card;

    @media (min-width: $mobile-breakpoint) {
        padding:4rem;
    }
}


input[type=text], input[type=password]{
    height:3.25rem;
}
    

