.front {
    h1 a {
        text-decoration: none;
    }
    &__container{
        background-color: rgb(174, 223, 230);
        padding: 4rem;
        max-width: 500px;
        width: 100%;
        border-radius: 25px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    &__signup-signin{
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: .5rem 0;
        width: 100%;
    }
    input[type=text], input[type=password]{
        height:3.25rem;
    }
}
